{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block pagetitle %}
    {% trans "Password Reset" %}
{% endblock pagetitle %}

{% block content %}

    <div class="container-fluid">

        <div class="row page-title">
            <h1>
                {% trans "Password Reset" %}
            </h1>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5 col-lg-4 offset-lg-4">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% else %}
                    <p>
                        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder.
                        Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
                    </p>
                {% endif %}
            </div>
        </div>
        
    </div>
    
{% endblock content %}
