{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block pagetitle %}
    {% trans "Change Password" %}
{% endblock pagetitle %}

{% block content %}
    <div class="container-fluid">

        <div class="row page-title">
            <h1>{% trans "Change Password" %}</h1>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5 col-lg-4 offset-lg-4">
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
        </div>
        
    </div>
{% endblock content %}
