/* Add brand font */
@font-face {
    font-family: 'Dogma Script';
    src: url('../fonts/dogma_script.otf');
}

/* Set variables */
:root {
    --lavender-pink: #EDA6CE;
    --mimi-pink: #FEDBF0;
    --prussian-blue: #0E273F;
}

/* Global */
body {
    color: var(--prussian-blue) !important;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', sans-serif;
}


main {
    padding-bottom: 60px;

    & > .row:first-child {
        padding-top: 60px;
        background-color: var(--mimi-pink);
    }
}

.toast-container {
    top: 70px !important;
}
.toast {
    width: 400px;
}

.page-title {
    padding-top: 60px;
    background-color: var(--mimi-pink);
    
    & h1 {
        padding: 40px 0;
        text-align: center;
    }
    & p {
        text-align: center;
        margin-bottom: 25px;
    }
}

/* Colours */
.mimi-pink-bg {
    background-color: var(--mimi-pink) !important;
}
.prussian-blue-bg {
    background-color: var(--prussian-blue);
}
.toast-success {
    background-color: #e6ffcc;
    /* background-color: #d9ffb3; */
}
.toast-danger {
    background-color: #ffb3b3;
}

/* Navbar styles */
nav.navbar {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Home page */
#hero-text {
    padding: 20px 20px;
}
#hero-image {
    background: var(--lavender-pink) url('../images/hero_image.png') center/cover no-repeat;
    height: 500px;
}
.brand-name {
    font-family: 'Dogma Script', serif;
    font-size: 100px;

    @media screen and (max-width: 578px) {
        font-size: 65px;
    }
}

.calls-to-action {
    margin: 30px 0;
    
    & .btn {
        background-color: var(--prussian-blue);
        border-color: var(--prussian-blue);
    }
}


/* Contact page */
.contact-icon {
    padding: 15px 10px 10px;
    font-size: larger;
}
.contact-info {
    padding: 10px;
}
.contact-type {
    font-size: larger;
    font-weight: bolder;
}
.contact-note {
    padding: 5px;
}
#submit-button {
    color: white;
    background-color: var(--prussian-blue);
}
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}


/* Services page */
.service-description.mb-0 p {
    margin-bottom: 0;
}
.service-container img {
    height: 200px;
    width: 200px;
}


/* Auth pages */
.btn.btn-signup {
    border-color: var(--prussian-blue);
}
