/* Set variables */
:root {
    --lavender-pink: #EDA6CE;
    --mimi-pink: #FEDBF0;
    --prussian-blue: #0E273F;
}

/* Global */
body {
    color: var(--prussian-blue) !important;
}

main {
    padding-bottom: 60px;

    & > .row:first-child {
        padding-top: 60px;
        background-color: var(--mimi-pink);
    }
}

.page-title {
    padding-top: 60px;
    background-color: var(--mimi-pink);
    
    & h1 {
        padding: 40px 0;
        text-align: center;
    }
}

/* Colours */
.mimi-pink-bg {
    background-color: var(--mimi-pink) !important;
}

/* Navbar styles */
nav.navbar {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Home page */
#hero-text {
    /* background-color: var(--mimi-pink); */
    padding: 80px 20px 20px;
}
#hero-image {
    background: var(--lavender-pink) url('../images/hero_image.jpeg') center/cover no-repeat;
    height: 500px;
}

.calls-to-action {
    margin: 30px 0;
    
    & .btn {
        background-color: var(--prussian-blue);
        border-color: var(--prussian-blue);
    }
}


/* Contact page */
.contact-icon {
    padding: 15px 10px 10px;
    font-size: larger;
}
.contact-info {
    padding: 10px;
}
.contact-type {
    font-size: larger;
    font-weight: bolder;
}
.contact-note {
    padding: 5px;
}
#submit-button {
    color: white;
    background-color: var(--prussian-blue);
}
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}
