{% extends "base.html" %}
{% load static %}

{% block pagetitle %}
    Home
{% endblock pagetitle %}

{% block content %}

    <div class="container-fluid">
        <div class="row page-title">
            <div id="hero-text" class="col-12 col-md-6 text-center d-flex flex-column justify-content-center">
                <h1 class="brand-name">
                    Perfect Paws <img src="{% static "images/logo_home_lg.png" %}" alt="Perfect Paws Logo">
                </h1>
                <h4>Dog Grooming Salon</h4>
                <div class="calls-to-action d-flex flex-row justify-content-evenly px-5">
                    <a class="btn btn-lg text-nowrap btn-primary" href="{% url 'booking_form' %}">
                        Book now
                    </a>
                    <a class="btn btn-lg text-nowrap btn-primary" href="{% url 'services_info' %}">
                        Services
                    </a>
                </div>
            </div>
            <div id="hero-image" class="col-md-6 col-12">
                <!-- hero image -->
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-md-8 offset-md-2 text-center">
                <h3>Welcome to Perfect Paws!</h3>
                <p>
                    Our salon offers a wide range of grooming services so your dog can feel their best!
                    We use safe, all-natural vegan products in all of our treatments, which leave your
                    dog feeling healthy and pampered. We are a family-owned dog grooming salon which has
                    been serving our community in north Edinburgh since 1985, and our groomers are
                    experienced in working with dogs of all sizes and breeds.
                </p>
            </div>
        </div>
    </div>

{% endblock content %}
