{% extends "base.html" %}
{% load static %}

{% block pagetitle %}
    Home
{% endblock pagetitle %}

{% block content %}

    <div class="container-fluid">
        <div class="row page-title">
            <div id="hero-text" class="col-12 col-md-6 text-center d-flex flex-column justify-content-center">
                <h1>Perfect Paws |logo|</h1>
                <h4>Dog Grooming Salon</h4>
                <div class="calls-to-action d-flex flex-row justify-content-evenly px-5">
                    <a class="btn btn-lg text-nowrap btn-primary">
                        Book now
                    </a>
                    <a class="btn btn-lg text-nowrap btn-primary">
                        Services
                    </a>
                </div>
            </div>
            <div id="hero-image" class="col-md-6 col-12">
                <!-- hero image -->
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-md-8 offset-md-2 text-center">
                <h3>Welcome to Perfect Paws!</h3>
                <p>Our salon offers a complete range of dog grooming services using the best all natural vegan products
                    from nail clipping to full dog grooms and hand stripping. Be assured highest standard of work will
                    be carried as Perfect Paws has been established in Edinburgh since 1953 our experience in his time
                    is immense, having dealt with a range of breeds and temperaments.
                </p>
            </div>
        </div>
    </div>

{% endblock content %}
