{% extends "base.html" %}
{% load static %}

{% block pagetitle %}
    Contact Us
{% endblock pagetitle %}

{% block content %}

    <div class="container-fluid">
        <div class="row page-title">
            <h1>
                Get in Touch
            </h1>
        </div>

        <div class="row">
            <div class="col-xl-8 offset-xl-2">

                <div class="row">
                    <div class="col-md-6 offset-md-0 col-sm-10 offset-sm-1 p-4 contact-info-box d-flex flex-column px-5">
                        <div class="contact-info-section d-flex flex-row">
                            <div class="contact-icon">
                                <i class="bi bi-pin-map"></i>
                            </div>
                            <div class="contact-info d-flex flex-column">
                                <div class="contact-type">
                                    Address
                                </div>
                                <p class="contact-data">
                                    17 Main Street <br>
                                    Balerno <br>
                                    EH14 7EQ
                                </p>
                            </div>
                        </div>
                        <div class="contact-info-section d-flex flex-row">
                            <div class="contact-icon">
                                <i class="bi bi-envelope"></i>
                            </div>
                            <div class="contact-info d-flex flex-column">
                                <div class="contact-type">
                                    Email
                                </div>
                                <p class="contact-data">
                                    info@perfectpaws.co.uk
                                </p>
                            </div>
                        </div>
                        <div class="contact-info-section d-flex flex-row">
                            <div class="contact-icon">
                                <i class="bi bi-telephone"></i>
                            </div>
                            <div class="contact-info d-flex flex-column">
                                <div class="contact-type">
                                    Phone
                                </div>
                                <p class="contact-data">
                                    0131 234 5678
                                </p>
                            </div>
                        </div>
                        <div class="contact-info-section contact-note">
                            We prioritise our dogs during grooming sessions and may not answer calls.
                            Please use our booking or enquiry form or leave us a voice mail.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Contact Form</p>
                    </div>
                </div>
        
                <div class="row">
                    <div id="map"></div>
                </div>
                
            </div>
        </div>
    </div>

{% endblock content %}

{% block extra_scripts %}
    <!-- prettier-ignore -->
    <script>
        (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })({
            key: "{{ GOOGLE_MAPS_KEY }}",
            v: "weekly",
            // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
            // Add other bootstrap parameters as needed, using camel case.
        });
    </script>

    <script src="{% static 'js/load_map.js' %}"></script>
{% endblock extra_scripts %}
