{% load static %}

{% comment %} The named routes for marking active page in navbar {% endcomment %}
{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'profile' user.id as profile_url %}
{% url 'contact' as contact_url %}
{% url 'services_info' as services_url %}
{% url 'booking_form' as booking_url %}


<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "favicon/site.webmanifest" %}">

    <!-- Add fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Libre+Baskerville&display=swap" rel="stylesheet">

    <!-- Load Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- jQuery and jQuery UI -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/themes/base/jquery-ui.min.css" integrity="sha512-TFee0335YRJoyiqz8hA8KV3P0tXa5CpRBSoM0Wnkn7JoJx1kaq1yXL/rb8YFpWXkMOjRcv5txv+C6UluttluCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js" integrity="sha512-MSOo1aY+3pXCOCdGAYoBZ6YGI0aragoQsg1mKKBHXCYPIWxamwOE7Drh+N5CPgGI5SA9IEKJiPjdfqWFWmZtRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <title>Perfect Paws | {% block pagetitle %}Dog Grooming Salon{% endblock pagetitle %}</title>
</head>
<body>
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
            <!-- brand and toggle menu for mobile -->
            <a class="navbar-brand py-0" href="{% url 'home'%}">
                <img src="{% static 'images/logo_navbar.png' %}" alt="Perfect Paws Logo Navbar">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#perfect-paws-navbar"
                aria-controls="perfect-paws-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- menu items -->
            <div class="collapse navbar-collapse" id="perfect-paws-navbar">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item me-3">
                        <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}" href="{% url 'home'%}">Home</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link {% if request.path == services_url %}active" aria-current="page{% endif %}" href="{% url 'services_info' %}">Services</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link {% if request.path == booking_url %}active" aria-current="page{% endif %}" href="{% url 'booking_form' %}">Book now</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link {% if request.path == contact_url %}active" aria-current="page{% endif %}" href="{% url 'contact' %}">Contact us</a>
                    </li>

                    {% if user.is_authenticated and user.is_superuser %}
                        {% if user.is_authenticated %}
                            <li class="nav-item me-3">
                                <a class="nav-link" href="{% url 'admin:index'%}">Admin</a>
                            </li>
                        {% endif %}
                        
                        <li class="nav-item me-3">
                            <a class="nav-link {% if request.path == profile_url %}active" aria-current="page{% endif %}" href="{% url 'profile' user.id %}">Profile</a>
                        </li>
                    {% endif %}

                    {% if not user.is_authenticated %}
                        <li class="nav-item me-3">
                            <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{% endif %}" href="{% url 'account_signup'%}">Register</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}" href="{% url 'account_login'%}">Login</a>
                        </li>
                    {% else %}
                        <li class="nav-item me-3">
                            <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}" href="{% url 'account_logout'%}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Site messages -->
    <div class="toast-container position-absolute p-3 top-0 start-50 translate-middle-x">
        {% for message in messages %}
            <div class="toast align-items-center {{ message.tags }} show" role="status" aria-live="polite" aria-atomic="true" data-bs-autohide="false">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ message | safe }}
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Main content -->
    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-light fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs col-md-4 offset-md-4 d-flex flex-row justify-content-evenly">
                    <div>
                        <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
                    </div>
                    <div>
                        <a href="https://x.com/" target="_blank"><i class="bi bi-twitter-x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <!-- Additional Scripts if needed -->
    {% block extra_scripts %}
    {% endblock extra_scripts %}
    
</body>
</html>
